<EditForm Model="@filme" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Titulo: </label>
        <div>
            <InputText @bind-Value="filme.Titulo" />
            <ValidationMessage For="@(()=>filme.Titulo)" />
        </div>
    </div>
    <div class="form-group">
        <label>Data de lançamento: </label>
        <div>
            <InputDate @bind-Value="filme.Lancamento" />
            <ValidationMessage For="@(()=>filme.Lancamento)" />
        </div>
    </div>
    <div class="form-group">
        <label>Em cartaz até: </label>
        <div>
            <InputDate @bind-Value="filme.EmCartazAte" />
            <ValidationMessage For="@(()=>filme.EmCartazAte)" />
        </div>
    </div>
    <div class="form-group">
        <label>Duração: </label>
        <div>
            <InputNumber @bind-Value="filme.Duracao" />
            <ValidationMessage For="@(()=>filme.Duracao)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success">@textoBotao</button>
</EditForm>

@code {
    [Parameter] public Filme filme { get; set; }
    [Parameter] public string textoBotao { get; set; } = "Gravar";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
